.noticias_titulo{
   margin: 6% 0 10% 0;
   text-align: center;
}
.noticias_titulo h1{
    font-family: var(--font-all);
    color: var(--color-text);
    font-weight: 800;
    font-style: italic;
    font-size: 50px;
}
.titulos_section{
    font-family: var(--font-all);
    color: var(--color-text);
    font-weight: 800;
    font-style: italic;
    font-size: 60px;
    margin: 15px 0px;
    
}
.noticias_destaques{
    width: 100%;
    height: 500px;
    background-size: 100%;
    background-position: center;
    display: grid;
    grid-template-areas: 
    "noticias1 noticias2"
    "noticias1 noticias3";
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
    grid-gap: 10px
}

.noticias_card-1{
    
    display: flex;
    align-items: end;
    grid-area: noticias1; 
    
    background: url("../images/cards/noticias/saltburn.jfif") no-repeat;
    background-size: cover;
    
  
    border-radius: 0px 0px 10px 10px;
    
}
    
.noticias_card-2{
    display: flex;
    align-items: end;
    grid-area: noticias2;
    background: url("../images/cards/Rectangle_menor.svg") no-repeat;
    
    border-radius: 0px 0px 10px 10px;
    
}
.noticias_card-3{
    display: flex;
    align-items: end;
    grid-area: noticias3;
    background: url("../images/cards/Rectangle_menor.svg") no-repeat;
    
    border-radius: 0px 0px 10px 10px;
}

.texto_noticia{
   
    color: var(--color-text-nav);
    font-size: 40px;
    font-family: var(--font-all);
    font-weight: 400;
    word-wrap: break-word;
    margin: 20px;
}

/*Fim parte destaques*/

/*Mais Recentes*/

.mais_recentes{
    width: 100%;

    
}

.recentes_card{
    
}

.container_recentes{
    display: flex;
    flex-wrap: wrap;
}